.Navigation{

  /* border: 1px solid; */
  margin: 10px 30%;
  display: flex;
  justify-content:space-between
}
.Navigation a{
  display: inline-flex;
  
  text-decoration: none;
  color:red;
  border: 1px solid;
  padding:10px;
  border-radius: 10px;
}
.Navigation a:active{
  background-color:black;
}
.active{
  background-color:black;
}
.App {
  text-align: center;
}

